<footer>
    <div style="display: flex; flex-direction: row; justify-content: space-between; padding:50px 100px;" class="footer-content">
        <div>
            <h3>Swahili Pot Hub</h3>
        </div>
        <div style="width:200px">

            <p>Swahili Pot Hub is a vibrant innovation and technology hub based in Mombasa, Kenya. We empower youth and entrepreneurs through digital skills, creative arts, and community-driven programs.</p>
        </div>

        <ul class="footer-links">
            <li><a>About Us</a></li>
            <li><a>Programs</a></li>
            <li><a>Events</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <p class="footer-copy">&copy; 2024 Swahili Pot Hub. All rights reserved.</p>
</footer>